.footer-container {
  background: #0e59ed;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.footer-text {
  font-size: 30px;
    color: #61dafb;
    font-family: 'MedievalSharp', cursive;
    text-shadow: 0px 0px 0 rgb(47,168,201),
                 1px 1px  0 rgb(-3,118,151),
                 2px 2px 1px rgba(221,99,235,0.6),
                 2px 2px 1px rgba(221,99,235,0.5),
                 0px 0px 1px rgba(221,99,235,.2);

}

.footer-text:hover {
  transform: rotateY(-360deg);
  transform-style: preserve-3d;
  opacity: 0.8;
  filter: brightness(105%);
  transition: all 5s ease;
}